<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>Pay</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body style="color: #336699 ; font-family: Verdana">
<form action="https://test.ecom.raiffeisen.ru/vsmc3ds/pay_check/3dsproxy_init.jsp"
method=POST name="frm">
    {{form}}
<input type="submit" value="Pay" />
</form>
</body>
</html>

<!--
<input name="PurchaseDesc" type="hidden" value="TestPurchase1" />
<input name="PurchaseAmt" type="hidden" value="10" />
<input name="CountryCode" type="hidden" value="643" />
<input name="CurrencyCode" type="hidden" value="643" />
<input name="MerchantName" type="hidden" value="TestMerchant" />
<input name="MerchantURL" type="hidden" value="https://www.merchantURL.ru" />
<input name="MerchantCity" type="hidden" value="MOSCOW" />
<input name="MerchantID" type="hidden" value="000001680997001-80997001" />
--!>